사실상 5장, 6장 기말고사 포함

대부분 `help`를 쳐서 찾아볼 수 있으므로 걱정 안해도 됨

`-` readr 데이터 포맷 변경

* `parse_character()`
* `parse_integer()`
* `parse_double()`

# 1. tidyr

---

## **A. wide format과 long format**

> 특정 열에 대하여 wide/long을 판단할 수 있음 ex) 연도, 성별 등

`-` long format : 컴퓨터가 이해하기 편한 데이터 구조

* wide format보다 유연하여 데이터 추가 및 삭제가 용이
* 각 행은 wide format에서 특정 셀의 정보를 반영하며, 열은 요인으로 표현된 형태
* `pivot_longer()` 함수로 변환 가능 : 변환할 열을 지정할 시 `starts_with`, `ends_with`, `contains` 등 `select`와 동일한 함수 및 문법 활용 가능

```R
tbl %>% pivot_longer(cols = c(col1, col2),
                     names_to = "name_col", name_prefix = "prefix", ## 접두사 제거
                     values_to = "value_col", values_drop_na = TRUE) ## 제거하여 암묵적 결측값으로 변환

pivot_longer(tbl, cols = contains("20"),
             names_to = "year", values_to = "population", values_drop_na = TRUE) 
```

`-` wide format : 사람이 읽기 쉬운 데이터구조

* 통계학에서 다루는 데이터 테이블 구조와 동일한 개념
* 각 행은 관측 단위를 나타내며, 각 열은 관측 단위에 대한 측정값으로 표현
* `pivot_wider()` 함수로 변환 가능

```R
tbl %>% pivot_wider(names_from = c(naming1, naming2, ...),
                    values_from = c(value1, value2, ...), values_fill = "0") ## 결측값 발생 시 처리
```

> `names_from`의 변수 범주 수와 `values_from`의 변수 개수의 곱만큼 새로운 변수가 생성된다. 이름은 `value_naming1_naming2_...`이런 식으로 붙는다.

## **B. 열의 분리 및 결합**

`-` `separate(tbl, complx_col, into = c("new_col1", "new_col2"), sep = "")`

* 단일 값 원칙을 만족하지 못하는 경우
* 한 개의 열에 여러 값들이 결합되어 있는 경우 여러 개로 분리

`-` `unite(tbl, col = "new_col", col1, col2, ..., sep = "")`

* 여러 개의 열을 하나의 열로 결합해야 할 때 사용
* 기본 구분자는 `"_"`

## **C. 결측값 처리**

`-` `NA` == not available

* 결측값은 전염성을 가짐 -> 결측값이 하나만 존재해도 연산 시 결측값으로 반환됨

`-` 명시적 결측값 : `NA`로서 명시적으로 표시된 값

`-` 암묵적 결측값 : 데이터셋에 존재하지 않는 값

```R
stocks <- tibble(
    year   = c(2015, 2015, 2015, 2015, 2016, 2016, 2016),
    qtr    = c(   1,    2,    3,    4,    2,    3,    4),
    return = c(1.88, 0.59, 0.35,   NA, 0.92, 0.17, 2.66)
    )
```

`-` `complete(tbl, col1, col2, ...)` : 해당 열들`(col1, col2, ...)`의 하위 범주들의 모든 조합에 대하여 명시적 결측값 생성

`-` `fill(tbl, col1, col2, ...)` : 해당 열들에서 결측값을 가장 최근에 존재하는 값(이월된 마지막 관측값)으로 대체

> 엑셀 차트 등에서 범주를 묶어 표시하였을 때 사용하면 유리

`-` `drop_na(tbl, col1, col2, ...)` : 해당 열들 중 하나라도 결측값이 포함된 행을 제거함. 변수를 입력하지 않으면 모든 열을 대상으로 검사

`-` `replace_na(tbl, list(col1 = "null", col2 = "unknown", ...))` : 결측값을 사용자가 지정한 값으로 대체

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`replace_na(vecter, "null")` : 벡터의 경우 문자열로 파라미터 입력

# 2. stringr

---

## **A. 문자열 기초**

`-` `str_length(value)` : 문자열의 길이 확인

`-` `str_sub(txt, a, b)` : 서브 스트링. 파이썬 인덱스처럼 뒤에서부터 추출 가능

> `str_sub(x, -n, -1)` : 뒤에서 n번째부터 맨뒤까지 추출

`-` `str_to_lower(txt)`, `str_to_upper(txt)` : 대소문자 변환

`-` `letters`, `LETTERS` : `a-z` / `A-Z` 알파벳 저장

## **B. 데이터에서 문자열 생성**

`-` `str_c(a, b, sep = ", ")` : 두 개 이상의 벡터를 결합, 구분자 지정 가능

`-` `str_c(v, collapse = ", ")` : 벡터를 단일 문자열로 결합

`-` `str_replace_na(v)` : `NA`를 `"NA"`로 변경. 그냥 `replace_na(v, "NA")`써도 됨

`-` `str_glue(f-string)` : f-string 문법을 사용할 수 있도록 지원. 중괄호 내부 문자열 작성 시 외부를 묶은 따옴표와 다른 형태를 사용

`-` `str_glue_data(tbl, f-string)` : 데이터 프레임에 특화된 `str_glue()`, 더 빠르고 효율적임. 열 이름을 변수처럼 사용 가능

`-` `str_flatten(v, collapse = ", ")` : 문자 벡터의 각 원소를 하나의 문자열로 결합

> `group_by() -> summarize()`와 함께 사용하여 문자열을 요약하는 데에 사용 가능

```R
### 하나의 셀에 여러 개의 데이터를 삽입
mytbl <- tibble(name = c("Carmen", "Carmen", "Marvin", "Terence", "Terence", "Terence"),
                fruit = c("banana", "apple", "nectarine", "cantaloupe", "papaya", "madarine"))

mytbl %>%
  group_by(name) %>%
  summarise(fruits = str_flatten(fruit, ", ")) ## 각 셀에는 이름 별 과일이 나열됨
```

## **C. 정규 표현식 종류**

`-` 정규표현식

* 문자열의 규칙을 표현하는 특수한 언어
* 일정한 규칙을 만족하는 문자열을 탐색하거나 추출, 변경하는 데 사용
* `str_view(txt, regX)`로 정규 표현식이 문자 벡터에 어떻게 매칭되는지 시각적으로 확인 가능
* `writeLines(regX)`로 정규표현식이 포함된 텍스트가 실제 어떻게 산출되는지 파악 가능
* 여러 단어를 앵커에 먹이거나 반복시키고 싶을 경우 `()`를 사용
* `or` 연산자 `|`를 사용할 수 있음

|**표현식**|**설명**|
|:-:|:-|
|`.`|어떤 문자 한 개와 일치(줄 바꿈 제외)|
|`^`|`^` 뒤의 표현식이 문자열의 시작과 일치. 맨 처음이라는 것을 지시|
|`$`|`$` 앞의 표현식이 문자열의 끝과 일치. 맨 끝이라는 것을 지시|
|`?`|`?` 앞의 표현식이 0번 또는 1번 일치|
|`+`|`+` 앞의 표현식이 1번 이상 반복되어 일치|
|`*`|`*` 앞의 표현식이 0번 이상 반복되어 일치|
|`()`|표현식을 하나의 집단에 적용|
|`\`|escape 문자열. 정규 표현식을 문자열이 아닌 기호 자체로 변환|

`-` 앵커 : 닻, 문자열 양 끝단을 지시하는 정규 표현식 `^, $`

> 문자열 자체가 `"^ ... $"`라고 생각하면 편하다.

`-` 반복 : `?, +, *` / `{n, m}`

> `?` : 있을수도 있고 없을수도 있음. 그러니까 0번 또는 1번 일치
>
> `+` : 일단 해당 문자열을 더함. 더하니까 1번은 무조건 있음. 그러니까 1번 이상 반복되어 일치
>
> `*` : 해당 문자열을 곱함. 근데 0을 곱할수도 있으니까 0번 이상 반복되어 일치
>
> `{n}` : 앞의 문자열이 `n`번만 반복
>
> `{n,}` : 앞의 문자열이 `n`번 이상 반복
>
> `{n, m}` : 앞의 문자열이 `n`번 이상, `m`번 이하 반복

`-` 그룹화 : `()`안에 있는 것들을 싸잡아서 정규표현식이나 연산자 적용

`-` `[]`를 사용하여 문자 집합과 매칭 가능 : 대괄호 안 `^` 사용 시 해당 문자 집합을 제외한 문자를 매칭

`-` escape 문자열 : `\`로 정규표현식을 무력화할 수 있음.

```R
str_view("\"", "\"") ## "와 '는 정규표현식이 아니므로 \ 하나로 무력화할 수 있음.

str_view("a\\b", "\\\\") ## \\를 찾기 위해서 \로 \를 무력화하는 것을 두 번 썼음. 실제 산출은 a\b

str_view(c("abc", "a.c", "bef"), "a\\.c") ## 정규 표현식을 무력화하려면 \\. -> "\." -> .


text <- "The total cost is 29 dollars\nand 99 cents."
str_view(text, "\\d") ## decimal : 숫자 (0~9)와 매칭
str_view(text, "\\s") ## all types space
```

`-` `str_detect(v, regX)` : 문자열에 특정 패턴이 존재하는지 확인, 패턴이 일치하면 `TRUE` 반환

> `group_by(col1)`, `summarize(new_col = mean(str_detect(col2, regX)))`로 패턴이 일치하는 비율 파악 가능

`-` `str_count(v, regX)` : 문자열 내에서 일치하는 패턴의 개수 반환

`-` `str_subset(v, regX)` : 문자열들 중 패턴이 일치하는 것들만 반환(부분집합)

`-` `str_extract()`, `str_extract_all(v, regX, simplify = bool)` : 문자열에서 일치하는 텍스트를 추출

> `str_extract`는 가장 먼저 나오는 하나만 추출, `str_extract_all`은 전부 추출
>
> `simplify = TRUE` : 반환값을 행렬로 변환

`-` `str_replace()`, `str_replace_all(v, regX, replace_txt)` : 문자열들 중 패턴이 일치하는 부분을 다른 문자열로 변환

> `str_replace_all(v, c("1" = "one", "2" = "two", "3" = "three"))` : 벡터를 입력하여 여러 패턴을 한 번에 변경할 수 있음 -> 딕셔너리 느낌으로다가

`-` `str_split(v, pattern = regX, simplify = bool)` : 문자열을 특정 문자열을 기준으로 분리

> `pattern`에 `boundary()` 입력 가능
>
> * `boundary("word")` : 단어를 경계로 분할
> * `boundary("sentence")` : 문장을 경계로 분할
> * `boundary("line_break")` : 줄바꿈 및 공백 기호를 경계로 분할(`"\n", "\t", " ")`
> * `boundary("character")` : 문자를 경계로 분할 - 사실상 개별 문자열 다 분할

# 3. forcats

---

* 팩터를 다루는 패키지

## **A. levels 재정렬**

`-` `fct_inorder(fct)` : 데이터에 입력된 순서대로 팩터 수준 재정렬

`-` `fct_infreq(fct)` : 팩터 수준 중 가장 많은 관측값을 가지는 레벨 순서대로 재정렬

`-` `fct_rev(fct)` : 팩터 수준을 반대로 재정렬

`-` `fct_inseq(fct)` : 숫자로 변환 가능한 팩터일 경우 작은 수부터 재정렬

**---시각화하는 경우 유용하게 사용 가능---**

`-` `fct_reorder(fct, val)` : 특정 변수를 기준으로 팩터 수준을 재정렬 -> 각 팩터는 고유하게 식별되는 상태, 빈도표 등으로 정리된 상태여야 함

`-` `fct_relevel(fct, "level")` : 지정한 수준을 가장 앞쪽으로 이동

```R
## 평균 tv 시청시간이 큰 순서대로 재정렬 후 시각화
tidy <- gss_cat %>%
            group_by(marital) %>%
            summarize(tvhours = mean(tvhours, na.rm = TRUE),
                      n = n()) %>%
            mutate(marital = fct_reorder(marital, tvhours))

ggplot(tidy, aes(x = tvhours, y = marital)) +
    geom_bar(stat = "identity")


## 소득에 따른 평균 연령에서 응답 불가 수준을 맨 앞으로 위치 변경
tidy <- gss_cat %>%
            group_by(rincome) %>%
            summarize(age = mean(age, na.rm = TRUE), n = n())

ggplot(tidy, aes(x = age, y = fct_rev(fct_relevel(rincome, "Not applicable"))) +
    geom_point()
```

## **B. levels 변경**

> 서로 다른 범주를 잘못 묶으면 그 결과가 왜곡될 수 있음

`-` `fct_recode(fct, "A" = "AAA", "A" = "AA", "A" = "AA-")` : 얘는 왜 거꾸로 지정해주는진 모르겠지만, 특정 레벨을 다른 레벨로 지정할 수 있음. 뒤에 입력된 레벨이 앞의 값으로 변환됨.

`-` `fct_collapse(fct, A = c("AA", "AAA", "AA-"))` : 여러 레벨들을 하나의 레벨로 병합

`-` `fct_lump(fct, n = level_sum, prop = level_prob, other_level = "other")` : 빈도가 적은 레벨들을 `other_level`로 병합. 디폴트는 `"Other"`

# 3. lubridate

---

* 날짜, 시간을 다루는 함수를 제공하는 패키지
* 핵심 `tidyverse`와 별도로 불러올 필요가 있음

## **A. 날짜/시간 유형**

`-` `<date>` : 날짜

`-` `<time>` : 하루 중의 시간

`-` `<dttm>` : date-time. 날짜와 시간으로서 시점을 고유하게 식별

> `today()` : 오늘 날짜(`<date>`)
>
> `now()` : 현재 날짜 및 시간(`<dttm>`)

## **B. 날짜/시간 생성**

`-` 문자열(string)로부터 생성

* y(year), m(month), d(day)의 순서를 파악한 후 해당 순서대로 함수 이름으로 사용
* dttm 생성 시 함수 이름에 `_`와 h(hour), m(minute), s(second)중 하나 이상 추가

```R
mdy("March 2nd, 2025")
dmy("02-Mar-2025")

ymd_hms("2025-03-02 12:34:59")
mdy_hm("03/31/2025 18:30")
```

`-` 개별 구성요소로부터 생성 : 여러 열에 저장된 개별 구성요소 통합

* `make_date(tbl, year, month, day)` : `<date>` 타입 생성
* `make_datetime(tbl, year, month, day, hour, minute, second)` : `<dttm>` 타입 생성

`-` 시와 분이 붙어있는 경우 등의 처리

```R
## 문자열로 변환한 후 처리 -> 이제 생각해보니 0시 처리도 해야될듯
flights %>%
    filter(!is.na(dep_time)) %>%
    select(year, month, day, dep_time) %>%
    mutate(dep_hour = parse_integer(str_sub(dep_time, 1, -3)),
           dep_minute = parse_integer(str_sub(dep_time, -2, -1)),
           dep_time = make_datetime(year, month, day, dep_hour, dep_minute)
          )

## 나눗셈 트릭으로 처리
flights %>%
    filter(!is.na(dep_time)) %>%
    select(year, month, day, dep_time) %>%
    mutate(dep_time = make_datetime(year, month, day, dep_time%/%100, dep_time%%100))
```

`-` `as_datetime(date)` : `date`를 `dttm`으로 전환

`-` `as_date(dttm)` : `dttm`을 `date`로 전환

## **C. 날짜/시간 구성요소**

`-` `dttm`에서 구성요소 추출

* `year()` : 연도 추출
* `month(dttm, label = FALSE, abbr = TRUE)` : 월 추출
* `day()` : 일 추출
* `hour()` : 시 추출
* `minute()` : 분 추출
* `second()` : 초 추출

`-` 기타 구성요소 추출

* `week()` : 주 추출
* `yday()` : 해당 연도의 몇 번째 일인지 반환
* `mday()` : 해당 월의 몇 번째 일인지 반환 - 사실상 `day()`
* `wday(dttm, label = FALSE, abbr = TRUE)` : 해당 주의 무슨 요일인지 반환 - 1 == 일요일, 7 == 토요일

> `month()`, `wday()`의 경우 매개변수 `label = TRUE`이면 문자열로 표시할 수 있음 + `abbr = FALSE`이면 문자열 이름의 전체 반환(Mon, Tue가 아닌 Monday 이런 식으로)

## **D. 시간 범위 time spans**

* `duration` : 초 단위의 정확한 시간 길이를 표시함
* `period` : 연/월/일 등 사람이 인식하는 시간 단위를 사용하여 시간 길이를 표시함

`-` **duration** : 초 단위의 정확한 시간 길이를 표시, 사람 중심이 아님

* `date`에 뺄셈을 적용하면 `difftime`이 생성 -> 초/분/시/일/주 단위로 기록, `difftime`끼리는 덧셈, 뺄셈, 곱셈, 나눗셈 연산이 가능
* `duration`은 모든 시간을 초단위로 기록하여 이를 보완
* 덧셈, 뺄셈, 곱셈, 나눗셈 연산이 가능
    * 윤년, 일광 절약 시간제와 같은 규칙의 영향을 받으므로 시간/월/연과 같은 큰 단위로 측정된 값의 연산 결과가 실제와 일치하지 않을 수 있음

---

* 기존 시간 구성요소 복수의 앞에 `d`를 붙여 생성할 수 있음
* `as.duration(difftime)`으로 생성할수도 있음

```R
dseconds(60)
dminutes(60)
...
dmonths(12)
dyears(1) 

dyears(1) / ddays(1) ## 365
```

`-` **period** : 지정된 시간 단위 - 연/월/일 등으로 시간 단위를 표시, 사람이 인식하는 단위 사용

* `duration`과 동일하게 덧셈, 뺄셈, 곱셈, 나눗셈 연산을 지원함
* 기존 시간 구성요소 복수로 생성할 수 있음

```R
seconds(60)
minutes(60)
...
months(12)
years(1) 

years(1) / days(1) ## 365.25
```

`-` **interval** : 시작 지점과 종료 지점을 나타내며 정확한 시간 범위 확인이 가능

* `interval(start, end)` 또는 `start %--% end`로 생성 가능
* `duration`과의 나눗셈 연산으로 `interval`의 기간을 확인할 수 있음

```R
interval(today(), today() + years(1)) ## 오늘 UTC -- 내일 UTC
today() %--% (today() + years(1)) ## 오늘 UTC -- 내일 UTC


(today() %--% (today() + years(1))) / ddays(1) ## 365
(ymd("2024-01-01") %--% ymd("2025-01-01")) / ddays(1) ## 366 : 윤년
```

# 4. ggplot2

## **A. 데이터 시각화 이해**

`-` 데이터 시각화

* 시각적 이미지는 직관적인 인식을 가능하게 하고, 강렬한 인상을 남김
* 다양한 시각화로 데이터에 대한 다변화된 이해가 가능해짐

`-` 데이터 유형에 따른 시각화 방법

|**유형**|**설명**|**예제**|**시각화 방법**|
|:-:|:-|:-:|:-|
|범주형 데이터|- 집단으로 구분되는 데이터<br>- 기본적으로 숫자로 표현될 수 없음<br>- 대소비교, 산술연산 불가능|성별, 종교|- 막대 그래프<br>- 원 그래프|
|수치형 데이터|- 수치 값을 가지는 데이터<br>- 대소비교, 산술연산 가능|키, 몸무게|- 히스토그램<br>- 상자 그림<br>- 산점도<br>- 선 그래프|

## **B. ggplot2 그래픽 문법의 7가지 요소**

1. data : 데이터
2. aesthetics : 시각적 표현 양식
3. geometries : 시각화 그래픽 요소
4. facets : 화면 분할
5. statistics : 통계량
6. coordinates : 좌표계
7. theme : 그래프 꾸미기

![](https://stat6503.github.io/RP2025/img/fig7-1.png)

## **C. ggplot2 문법**

`-` `geom_bar(fill = "orange", position = c("fill", "dodge"), stat = c("count", "identity"))` : 범주형 데이터의 시각화

* `aes(fill = val)`로 설정하여 변수별 색상을 다르게 한 경우, 기본적으로 누적 막대 그래프를 산출
* `position = "fill"` : 각 범주를 100%로 한 누적 막대 그래프 사용
* `position = "dodge"` : 범주별 누적시키지 않고 옆으로 늘여 따로 표시
* `stat = "identity"` : 데이터가 정리된 빈도표일 경우 그 값을 그대로 사용
* `+ scale_x_discrete(drop = FALSE)` : 관측값이 없는 레벨도 표시

`-` `geom_histogram(fill = "orange", bins = 10, binwidth = 0.5)` : 수치형 데이터의 시각화

* `bins` : 구간의 개수
* `binwidth` : 막대의 너비

`-` `geom_box()` : 수치형 데이터의 시각화, 다섯 숫자 요약값에 기반

* `geom_jitter(color = "orange", alpha = 0.5, width = 0.2)` : 관측값을 지터링하여 표시. 색상, 투명도, 지터링 정도 설정

`-` `geom_point(size = 4, color = "black", fill = "orange", alpha = 0.5, pch = 21)` : 두 수치형 데이터의 시각화

* `pch 0~14` : 채우기 없음, 테두리 색상만 `color`로 설정
* `pch 15~20` : 채우기 색상만 `color`로 설정, 테두리 없음
* `pch 21~24` : 채우기 색상은 `fill`, 테두리 색상은 `color`로 설정

> 기본적으로 `color`를 건들되, 둘다 할 수 있으면 `fill`로 채움

* `+ geom_smooth(method = lm, color = "red")` : 회귀선과 신뢰구간 표시
* `+ geom_rug(size = 0.2)` : 각 축에 분포에 대한 러그 표시
* `+ scale_color_gradient(low = "red", high = "blue")` : `color`에 수치형 변수 부여 시 컬러 그라데이션 설정
* `+ scale_size_continuous(breaks = c(10, 20, 30, 40))` : `size`에 수치형 변수 부여 시 크기 구간 선정
* `+ guides(color = guide_legend(override.aes = list(size = 3)))` : 컬러 범례의 점 크기 변경

`-` `geom_line(size = 2, color = "orange")` : 수치형 데이터의 시각화

* x축에는 시계열 데이터가 주로 사용됨
* 순서형 데이터나 연속형 데이터가 사용되는 경우도 있음

`-` `scale_fill_manual(values = c(color_vector, pallete))` : 그래프 색상 커스텀

* `RColorBrewer` 라이브러리의 `brewer.pal()`
* `wesanderson` 라이브러리의 `wes_palette()`

`-` `labs(x = "X axis", y = "Y axis", title = "Plot Title")` : 라벨 설정

`-` `facet_grid(y_val ~ x_val, labeller = labeller(y_val = c("A" = "그림 A", "B" = "그림 B", ...)))` : 그래프 분할

* `y축_변수 ~ x축_변수` 순으로 입력
* `labeller`에는 기존값 별로 어떻게 소제목을 표시할지 설정

`-` 커스텀 테마

* `theme_bw()` : 블랙-화이트 테마
* `theme_classic()` : 뒤에 표시되는 그리드 제거
* `theme_void()` : 모든 테마 제거

`-` `theme()` : 그래프 테마 설정

* `axis.title.x = element_text(size, margin = margin(l/r/t/b), face = "bold", hjust = 0.5)` : x축 설정
* `axis.title.y = element_text()` : y축 설정
* `axis.text = element_text()` : 틱 텍스트 설정
* `strip.text = element_text()` : `facet_grid`가 지정되었을 경우 각 소제목 텍스트 설정
* `plot.title = element_text()` : 제목 설정
* `panel.grid.major.x = element_blank()` : x축 메인 그리드 없앰
* `panel.grid.minor = element_blank()` : 모든 자잘한 눈금 없앰
* `legend.position = "none"` : 범례 위치 설정
* `legend.title = element_text()` : 범례 타이틀 설정
* `legend.text = element_text()` : 범례 하위 텍스트 설정