4월 21일 월요일 중간고사

* 앞반 16:00 ~ 16:50
* 뒷반 17:00 ~ 17:50

> 4월 16일 수업 끝날 때 공지
>
> 5~10분 일찍 올 것
>
> 중도 퇴실 불가
>
> 필기구 지참 -> 시험지에 이름 써야 되니까
>
> 노트북 사용 금지

* **시험 시 패키지가 필요하므로, 코드의 순서를 잘 고려할 것.**
* **제출 후, 코드를 전부 실행시키므로 순서를 잘 지킬 것**

> 한 번 저장해두고, 끈 다음 다시 실행해보는 것이 좋음 ㅇㅇ

# 1. 데이터 분석과 R

---

`-` Hadley Wickham이 제시한 데이터 과학의 과정

|과정|설명|
|:-:|:-|
|데이터 가져오기 <br> Import|- 분석할 데이터를 가져오는 단계|
|정리하기 <br> Tidy|- 가져온 데이터를 일관된 형태로 제구조화하는 단계 <br> - 이 단계를 통해 정리한 데이터를 tidy data라 칭함|
|변환하기 <br> Transform|- tidy data에서 필요로 하는 새로운 값을 구하거나, 분석에 필요한 데이터로 변환하는 과정|
|시각화 <br> Visualization|- 데이터에서 의미를 도출하는 과정 중 하나|
|모델링 <br> Model|- 데이터를 통해 수립한 모델을 이용하여 예측 등의 과정을 수행하는 단계|
|소통하기 <br> Communicate|- 데이터에서 찾아낸 세상의 모습을 다른 사람들에게 공유하는 과정|

# 2. R 기초

---

## A. 산술연산

In [ ]:
1+2
1-2
1*2
1/2
1%%2 ## 나머지. 몫은 %/%임
1^2

## B. 산술연산 함수

In [ ]:
log(2) ## 자연로그
exp(2)
sqrt(2)
abs(-2)
factorial(2)
sin(2*pi) ## 기본적으로 pi 값은 저장되어 있음
cos(pi/2)
tan(pi/2)

## C. 자료형

In [ ]:
as.numeric("1")
as.character(1)
as.logical("TRUE")
FALSE
T
F
NULL ## 정의되지 않음
NA   ## 결측치
NaN  ## 연산 불가

`-` 세 가지 `N`

|종류|설명|
|:-:|:-|
|`NULL`|정의되지 않음|
|`NA`|결측치|
|`NaN`|수학적으로 정의 불가|

## D. 비교연산자

In [ ]:
## 비교연산 : 다른 언어들이랑 똑같음
a <- 1
b <- 2

a > b
a >= b
a < b
a <= b
a != b
a == b

## E. 논리 연산자

In [ ]:
## 논리연산 : 여기는 and or 안씀. 논리 연산자랑 비트 연산자랑 같은듯
c <- 3
d <- 4

(a > b) & (c < d) ## FALSE
(a > b) | (c < d) ## TRUE

# 3. 데이터와 자료구조

---

## A. 데이터 이해

`-` 테이블

* 데이터를 효과적으로 분석하려면 일정한 형태로 정리되어 있어야 하며, 대표적인 형태가 테이블임
* 데이터를 논리적으로 정리하여 표 형태로 만드는 것을 **데이터 구조화**또는 **정형화**라고 함
* 데이터의 저장 형태로, 동질적인 데이터 값인 열과, 하나의 데이터 집합인 행으로 구성됨

## B. 자료 구조

* R은 vector, matrix, array, list, data.frame의 5개 기본 자료구조를 제공함

|구분|1차원|2차원|n차원|
|:-:|:-:|:-:|:-:|
|동질적|벡터|행렬|배열|
|이질적|리스트|데이터 프레임||

## C. 벡터

`-` 동일한 자료형의 값을 1차원으로 저장하는 가장 기본적인 구조

In [ ]:
## 벡터 생성
v1 <- c(1, 2, 3, 4, 5)
v2 <- c('a', 'b', 'c')
v3 <- c(TRUE, FALSE, T)
v4 <- c(1, 2, 3, 'a', 'b') ## character vector

v5 <- 1:10
v6 <- seq(1, 10, 2) ## length 파라미터를 사용하여 공차가 아닌 벡터의 길이를 지정해줄 수 있음
v7 <- rep(1:5, times = 5) ## default arg setting
v8 <- rep(1:5, each = 5)  ## 각 원소를 반복하면서 붙임

## 벡터 인덱싱
v <- c(6, 8, 1, 9, 7)
v[1] ## R은 인덱스가 1부터 시작
v[6]

v[1:3] ## 벡터로 인덱싱할 수 있음. v[c(1, 2, 3)] 이런 느낌
v[-5]  ## 뒤에서의 순서 아님. 해당 인덱스 제외 추출임
v[c(T, F, T, F, T)]  ## 논리형으로도 인덱싱 가능. 길이가 부족할 경우 재활용 규칙을 따름

## 벡터 산술연산
v9 <- c(3, 7, 6)
v10 <- c(4, 2, 8)

v9 + 2  ## 5, 9, 8 : vectorization
v9 - v10 ## -1, 5, -2 : 위치 별 연산
v9 * c(10, 5) ## Warning 30, 35, 60 : 재활용 규칙

## 벡터 비교연산
v11 <- 1:10
v11 >= 5 ## 각 원소별로 논리 연산자 적용하여 벡터로 산출
v11[v11 >= 5] ## 5 이상인 원소만 추출
sum(v11 < 5) ## 5 미만인 원소의 수 : 논리형은 T == 1, F == 0
sum(v11[v11 < 5]) ## 5 미만인 원소의 합계

`-` 벡터에 적용 가능한 함수

`sum(), mean(), median(), max(), min(), var(), sd(), length()`

> 기초 통계량과 길이

`-` 팩터 factor

* 문자형 데이터를 저장할 수 있는 벡터의 한 종류
* 성별, 혈액형 등 저장할 데이터 값이 정해져 있을 때 사용. 범주가 정해져 있을 때 사용
* 문자형 벡터를 만든 뒤, `factor()` 함수를 이용하여 생성
* `levels()` 함수는 팩터의 범주를 호출
* 팩터는 범주 외 다른 값을 저장할 수 없기 때문에 오타를 방지할 수 있음

In [ ]:
szn <- c("spring", "fall", 'winter', 'summer', 'summer', 'spring')
szn_fct1 <- factor(szn)
levels(szn) <- c("spring", "summer", "fall", "winter")

szn_fct2 <- factor(szn, levels = c("spring", "summer", "fall", "winter")) ## 동일한 표현

szn_fct1[7] <- "autumn"  ## invalid factor level, NA generated : 결측치로 추가

## D. 행렬과 배열

`-` 행렬 : 동일한 자료형의 값을 2차원으로 저장하는 자료구조

In [26]:
## 행렬 생성
m1 <- matrix(1:20, ncol = 4) ## nrow는 자동으로 맞춰짐. 약수가 아닐 경우 재사용 규칙 적용
m2 <- matrix(1:20, ncol = 4, byrow = TRUE) ## 행별로 주어진 자료일 때 사용.

## 행렬에 사용 가능한 함수
# dim(), ncol(), nrow(), colnames(), rownames() -> 뒤에 두개는 잘 안씀;; 그럴 거면 데이터프레임 쓰지
score <- matrix(c(80, 67, 74,
                  82, 95, 88,
                  75, 84, 82,
                  95, 83, 76),
                nrow = 4, ncol = 3, byrow = TRUE)

rownames(score) <- c("Kim", "Lee", "Park", "Choi")
colnames(score) <- c("Kor", "Eng", "Math")

score ## 유사 데이터프레임처럼 사용 가능. 물론 자료형이 같음.

     Kor Eng Math
Kim  80  67  74
Lee  82  95  88
Park 75  84  82
Choi 95  83  76

In [ ]:
## 행렬 인덱싱
m <- matrix(1:15, nrow = 3) ## (3, 5) matrix
m[, 1]
m[, c(1, 3, 5)]
m[1:2, 3:5]
m[-2,]
m[-1, c(-1, -2)] ## 특정 행과 열 빼고 추출
m[m > 7] ## 벡터에 논리 연산자 쓰는 것과 동일

## 행렬 산술연산 : 두 행렬의 크기가 무조건 같아야 함
m2 <- matrix(1:20, nrow = 4)
m3 <- matrix(21:40, nrow = 4)

## 각 원소끼리 연산함
m2 + m3
m2 - m3
m2 * m3
m2 / m3

m2%*%t(m3) ## (4, 5) \times (5, 4) : 행렬곱

## 특수 행렬 생성
Id <- diag(1, 5)
zro <- matrix(0, ncol = 5, nrow = 5) ## 정방 행렬을 만들고 싶은거면 diag(0, 5)도 됨
dagmat <- diag(seq(1, 7, 2)) ## 벡터 원소만 사용하고 싶을 경우 차원 안써도 됨. 넘으면 재사용 규칙
# symat <- matrix(asdasfasf) ## 직접 입력해서 만들어야 함
Transmat <- t(m2) ## 전치
Invmt <- solve(Id) ## Non-Singular Matrix일 경우에만

## 행렬 결합
cbind(m2, m3) ## bind column wize
rbind(m2, m3) ## bind row wize
cbind(m2, c(1, 3, 5, 2)) ## bind with vector

`-` 배열 : 동일한 자료형의 값을 n차원으로 저장하는 자료구조

In [ ]:
## 배열 생성
arr <- array(1:12, dim = c(2, 2, 3)) # dim에 벡터를 집어넣어 차원과 규모를 설정해줄 수 있음

## 인덱싱 매트릭스와 동일

## E. 리스트

`-` 서로 다른 자료형의 값을 1차원으로 저장하는 자료구조

> R의 모든 객체가 원소로 포함될 수 있음. 함수의 결과값을 반환할 때 유리하게 사용 가능

In [ ]:
## 리스트 생성
myinfo <- list(name = "Kim", age = 25, status = TRUE, score = c(70, 85, 90))

## 리스트 인덱싱
myinfo[[1]]
myinfo$score
myinfo[["score"]]

## F. 데이터 프레임

`-` 열 단위의 서로 다른 자료형의 값을 저장하는 자료구조

> 데이터프레임에서 특정 열을 가져오면 값들의 모든 자료형이 동일해야만 함.
>
> 같은 길이의 벡터를 원소로 가지는 리스트의 특별한 경우 -> 표현을 공유함
>
> 행렬과 같은 2차원 구조 -> 다루는 방법이 비슷함

In [55]:
df2 <- cbind(df1, c("dog", "cat", "bird", "dog")) ## 아직 묶인 열의 이름이 할당되지 않은 상태
df2

  name age btype smoking c("dog", "cat", "bird", "dog")
1 Kim  24  A      TRUE   dog
2 Lee  25  B     FALSE   cat
3 Park 22  O      TRUE   bird
4 Choi 27  B      TRUE   dog

In [ ]:
## 데이터프레임 생성
df1 <- data.frame(name = c("Kim", "Lee", "Park", "Choi"),
                  age = c(24, 25, 22, 27),
                  btype = factor(c("A", "B", "O", "B"), levels = c("A", "B", "O", "AB")),
                  smoking = c(TRUE, FALSE, TRUE, TRUE))

df2 <- cbind(df1, c("dog", "cat", "bird", "dog")) ## 아직 묶인 열의 이름이 할당되지 않은 상태 : 할당은 됨
colnames(df2)[5] <- "pet" ## 오브젝트를 그대로 호출해서 할당 가능

## 데이터프레임 인덱싱 : 행렬과 동일
df2[1, 2] ## 개별 원소
df2[, 3]  ## 열
df2[-1, c(-2, -3)] ## 특정 샘플과 열 제외
df2$pet
df2[["pet"]]
df2[[1]]

`-` 데이터프레임 요약 함수

|함수|설명|
|:-:|:-|
|`head()`|처음 몇 개의 원소를 반환|
|`tail()`|마지막 몇 개의 원소를 반환|
|`str()`|자료구조와 각 원소의 자료형, 미리보기 출력|
|`unique()`|중복된 값을 제거하고 유일한 값만 반환|
|`table()`|각 값의 빈도를 계산하여 표 형태로 반환|
|`colSums(), colMeans()`|각 열의 합계/평균을 계산|
|`rowSums(), rowMeans()`|각 행의 합계/평균을 계산 -> 전부 수치형이여야 함|

In [ ]:
dim(iris)                                   # 데이터프레임의 차원
nrow(iris)                                  # 행의 개수
ncol(iris)                                  # 열의 개수
colnames(iris)                              # 열 이름, names()와 결과 동일

head(iris)                                  # 처음 6개 행 출력
tail(iris)                                  # 마지막 6개 행 출력
str(iris)                                   # 데이터셋 요약 정보

unique(iris[, 5])                           # 품종의 종류 보기(중복 제거) 
table(iris[, "Species"])                    # 품종의 종류별 행의 개수 세기

colSums(iris[, -5])                         # 각 열의 합계 
colMeans(iris[, -5])                        # 각 열의 평균 
rowSums(iris[, -5])                         # 각 행의 합계 
rowMeans(iris[, -5])                        # 각 행의 평균

# 4. 프로그래밍 구조